
<div class="container-fluid render_mountains">
    <div class="row">
    <% @mountains.each do |mountain| %>
      <p>Peak Name: <%= mountain[:peak_name] %></p>
			<p>Mountain Range: <%= mountain[:range] %></p>
			<p>Elevation: <%= mountain[:elevation] %> feet</p>
			<p>Avereage Hike Time: <%= mountain[:ave_hike_time] %></p>
			<p>Difficulty: <%= mountain[:difficulty] %></p>
			<p>Distance: <%= mountain[:distance] %></p>
			
			<form method="post" action="/peaks/<%= mountain.id %>">  
    			<input name="_method" value="DELETE" type="hidden"/>
   			 <button>Delete</button>
  			</form>

  		<form method="get" action="/peaks/<%= mountain.id%>/edit">
   			 <input type="submit" value="edit"></input>
  		</form>
   	
			</br>
     <%end%>
    </div>
</div>


