<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="text-center">All Peaks</h2>
  <div class="panel-group" id="accordion">
    <%@mountains.each do |mountain| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=mountain[:id]%>"><%= mountain[:peak_name] %></a>
        </h4>

      </div>
      <div id="collapse<%=mountain[:id]%>" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Mountain Range: <%= mountain[:range] %></p>
          <p>Elevation: <%= mountain[:elevation] %> feet</p>
          <p>Avereage Hike Time: <%= mountain[:ave_hike_time] %></p>
          <p>Difficulty: <%= mountain[:difficulty] %></p>
          <p>Distance: <%= mountain[:distance] %></p>
        
          <div class="col-sm-12">
            <form method="post" action="/peaks/<%= mountain.id %>">  
                <input name="_method" value="DELETE" type="hidden"/>
               <button class="btn btn-default">Delete</button>
            </form>
          </div>
          
          <div class="col-sm-12">
          <form method="get" action="/peaks/<%= mountain.id%>/edit">
             <input class="btn btn-default" type="submit" value="Edit"></input>
          </form>
          </div>

        </div>
      </div>
    </div>
  
   <%end%>
  </div>
</div>
    
</body>
</html>



