<div class="render_mountains">
	<ul>
        <% @mountains.each do |mountain| %>
            <li>Peak Name: <%= mountain[:peak_name] %></li>
			<li>Mountain Range: <%= mountain[:range] %></li>
			<li>Elevation: <%= mountain[:elevation] %> feet</li>
			<li>Avereage Hike Time: <%= mountain[:ave_hike_time] %></li>
			<li>Difficulty: <%= mountain[:difficulty] %></li>
			<li>Distance: <%= mountain[:distance] %></li>


   			<br>
        <% end %>
    </ul>

</div>


