<div class="render_1_mountain">

<p><%= @mountain[:peak_name] %></p>
<p><%= @mountain[:range] %></p>
<p><%= @mountain[:elevation] %> feet</p>
<p> lat: <%=@mountain[:latitude]%> lng: <%=@mountain[:longitude]%> </p>

</div>

